.env
**/**/*.jpg
**/**/*.jpeg
**/**/**/*.jng
log/
logs/
.cache/
alerts/*
__pycache__/
.pytest_cache
.remember
.vscode
**/__pycache__
tests/__pycache__
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/